body {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

.todo-box--container {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto Slab', serif;
    background-color: #e5f3f2;
    height: 430px;
    text-align: center;
}

.to-do--title{
    color: #6d6e71;
    font-size: 4rem;
}

.to-do--title-span {
    color: #00a79d;
}

.form-elements {
    color: #939598;
    font-size: 2em;
    height: 1.5em;
    margin: auto;
    margin-bottom: 1em;
    padding: 2px 0 2px 8px;
    width: 55%;
    border: 2px solid #BFC0C2;
}

.form-elements::placeholder {
    color: #BFC0C2;
    padding-top: 3px;
}

.form-elements:focus,
.completed-task-btn:focus {
    outline: none;
}

.filter-input {
    margin-top: 50px;
    margin-bottom: 20px;
    display: flex;
}

.btn {
    background-color: #00a79d;
    color: #FFFFFF; 
    border: none;
    width: 55.7%;
    height: 3.3rem;
    margin: 10px auto;
}

.show-more-btn {
    margin-bottom: 50px;
}

.btn:hover {
    background-color: #045e55;
}

.save-btn:disabled {
    background-color: #D3D3D3;  
    pointer-events: none;
}

.populated-todos--container {
    padding-bottom: 50px;
    width: 56%;
    margin: auto;
}

.populated-todo {
    border-bottom: .1em solid #D1D3D4;
    padding: 1em 0;
    position: relative;
    margin-top: 30px;
}

.todo-title,
.todo-task {
    padding-left: 4px;
}

h2 {
   color: #6d6e71; 
   display: inline-block;
   font-family: 'Roboto Slab', serif;
   font-size: 150%;
}

p {
    color: #939598;
}

h3 {
    margin-left: 10px;
    color: #6d6e71;
    position: relative;

}

footer {
    align-items: center;
    display: flex;
}

button {
    background-color: transparent;
    border: none;
    background-repeat: no-repeat;
}

section {
    text-align: center;
}

.icon {
    height: 35px;
    width: 35px;
}

.icon:focus {
    outline: none;
}

.up-vote--icon {
    background-image: url(./images/upvote.svg);
    margin-right: 5px; 
}

.up-vote--icon:hover {
    background-image: url(./images/upvote-hover.svg);
}

.down-vote--icon {
    background-image: url(./images/downvote.svg);
    margin-right: 5px; 
}

.down-vote--icon:hover {
    background-image: url(./images/downvote-hover.svg);
}

.delete-button--icon {
    background-image: url(./images/delete.svg);
    border: none;
    position: absolute;
    right: 0px;
}

.delete-button--icon:hover {
    background-image: url(./images/delete-hover.svg);
}

.completed-task-btn {
    background-color: #00a79d; 
    color: white;
    font-size: 1.3rem;
    border-radius: 10px;
    position: absolute;
    right: 0px;
    height: 40px;
    width: 12rem;
}

.completed-task {
    background: #E8E8E8;
    text-decoration: line-through;
}

@media(max-width: 640px){

    .card-container {
        width: 85%;
    }

    .filter-input {
        border: solid #999 1px;
    }
}