.todo-box--container {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto Slab', serif;
    margin: 0;
}

body {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

.top-box {
    background-color: #e5f3f2;
    box-sizing: border-box;
    height: 300px;
    margin: 0;
    text-align: center;
}

.to-do--title{
    color: #6d6e71;
    display: inline-block;
    font-size: 275%;
    margin-bottom:  30px;
}

.to-do--box {
    color: #00a79d;
}

.title-input {
    align-items: center;
    display: flex;
    height: 30px;
    justify-content: space-between;
    width: 45%;
}

.body-input {
    align-items: center;
    display: flex;
    height: 30px;
    justify-content: space-between;
    width: 45%;
}

.search-input {
    height: 30px;
    margin-top: 50px;
    width: 45%;
}

.save-btn {
    background-color: #00a79d;
    border: none;
    color: #fff;
    font-size: 120%;
    height: 30px;
    width: 45.5%;
}

.save-btn:hover {
    background-color: #045e55;
}

.save-btn:disabled {
  background-color: #D3D3D3;  
  pointer-events: none;
}

input {
    align-items: center;
    display: flex;
    /*font-family: 'Open Sans', sans-serif;*/
    font-size: 100%;
    justify-content: space-between;
    margin: auto;
}

.form-elements {
  color: #BFC0C2;
  /*display: block;*/
  /*font-size: 2em;*/
  /*height: 2em;*/
  /*margin: auto;*/
  /*margin-bottom: 1.2em;*/
  /*padding: .2em 0 .2em .4em;*/
  width: 55%;
}

.form-elements::placeholder {
  color: #BFC0C2;
}

.form-elements:focus {
  outline: none;
}

.populated-todo {
    margin: auto;
    position: relative;
    width: 45%;
    border-bottom: .1em solid #D1D3D4;
    padding: 1em 0;
}

.card {
    background-color: #ffffff;
    height: auto;
    margin: auto;
    width: 45%;
}

.title-of-card {
    color: #6D6E71;
    display: inline-block;
    font-family: 'Roboto Slab', serif;
    font-size: 140%;
}

h2 {
   color: #6d6e71; 
   display: inline-block;
   font-family: 'Roboto Slab', serif;
   font-size: 150%;
}

p {
    color: #939598;
    /*font-family: 'Open Sans', sans-serif;*/
}

.body-of-card{
    color: #939598;
    /*font-family: 'Open Sans', sans-serif;*/
    font-size: 100%;
}

button {
    background-color: transparent;
    border: none;
}

.up-vote--icon {
    background-image: url(./images/upvote.svg);
    background-size: cover;
    height: 20px;
    margin-right: 5px; 
    width: 20px;
}

.up-vote--icon:hover {
    background-color: transparent;
    background-image: url(./images/upvote-hover.svg);
    background-size: cover;
    height: 20px;
    width: 20px;
}

.down-vote--icon {
    background-image: url(./images/downvote.svg);
    background-size: cover;
    height: 20px;
    margin-right: 5px; 
    width: 20px;
}

.down-vote--icon:hover {
    background-image: url(./images/downvote-hover.svg);
    background-size: cover;
    height: 20px;
    width: 20px;
}

.delete-button {
    background-image: url(./images/delete.svg);
    background-size: cover;
    height: 20px;
    position: absolute;
    right: 10px;
    top: 15px;
    width: 20px;
}

.delete-button:hover {
    background-image: url(./images/delete-hover.svg);
    background-size: cover;
    height: 20px;
    width: 20px;
}

@media(max-width: 640px){

    .card-container {
        width: 85%;
    }

    .search-input {
        border: solid #999 1px;
    }
}