body {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

.todo-box--container {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto Slab', serif;
    background-color: #e5f3f2;
    height: 430px;
    text-align: center;
}

.to-do--title{
    color: #6d6e71;
    font-size: 4rem;
    margin-bottom: 30px;
}

.to-do--title-span {
    color: #00a79d;
}

.form-elements {
    color: #939598;
    font-size: 2em;
    height: 1.5em;
    margin: auto;
    margin-bottom: 1.2em;
    padding: 2px 0 2px 8px;
    width: 55%;
    border: 2px solid #BFC0C2;
}

.form-elements::placeholder {
    color: #BFC0C2;
    padding-top: 3px;
}

.form-elements:focus {
    outline: none;
}

.title-input {

}

.body-input {

}

.search-input {
    margin: 50px 22.5% 0 22.5%;
}

.save-btn {
    background-color: #00a79d;
    color: #FFFFFF; 
    border: none;
    width: 55.7%;
}

.save-btn:hover {
    background-color: #045e55;
}

.save-btn:disabled {
    background-color: #D3D3D3;  
    pointer-events: none;
}

main {
  margin: auto;
}

.populated-todo {
    position: relative;
    width: 55%;
    border-bottom: .1em solid #D1D3D4;
    padding: 1em 0;
    margin: 0 auto;
}


.title-of-card {
    color: #6D6E71;
    display: inline-block;
    font-family: 'Roboto Slab', serif;
    font-size: 140%;
}

h2 {
   color: #6d6e71; 
   display: inline-block;
   font-family: 'Roboto Slab', serif;
   font-size: 150%;
}

p {
    color: #939598;
}

.body-of-card{
    color: #939598;
    font-size: 100%;
}

button {
    background-color: transparent;
    border: none;
}

.icon {
    height: 30px;
    width: 30px;
}

.icon:focus {
    outline: none;
}

.up-vote--icon {
    background-image: url(./images/upvote.svg);
    /*background-size: cover;*/
    margin-right: 5px; 
}

.up-vote--icon:hover {
    /*background-color: transparent;*/
    background-image: url(./images/upvote-hover.svg);
    /*background-size: cover;*/
}

.down-vote--icon {
    background-image: url(./images/downvote.svg);
    /*background-size: cover;*/
    margin-right: 5px; 
}

.down-vote--icon:hover {
    background-image: url(./images/downvote-hover.svg);
    /*background-size: cover;*/
}

.delete-button--icon {
    background-image: url(./images/delete.svg);
    /*background-size: cover;*/
    position: absolute;
    right: 10px;
    top: 15px;
}

.delete-button--icon:hover {
    background-image: url(./images/delete-hover.svg);
    /*background-size: cover;*/
}

@media(max-width: 640px){

    .card-container {
        width: 85%;
    }

    .search-input {
        border: solid #999 1px;
    }
}